= form_for @user, { class: 'form-group' } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field.mt-3
    = f.label :email
    %br/
    = f.text_field :email, {class: 'form-control'}
  .field.mt-3
    = f.label :password
    %br/
    = f.password_field :password, {class: 'form-control'}
  .actions.mt-3.text-center
    = f.submit 'Save'
