= form_for @ticket do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |message|
          %li= message

  .email
    = f.label :email
    = f.text_field :email
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :help_desk
    = f.text_field :help_desk
  .field= f.hidden_field(:help_desk_id, value: @ticket.help_desk_id)
  .actions
    = f.submit 'Save'
