%h1 Listing tickets

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Help desk
      %th
      %th
      %th

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.title
        %td= ticket.body
        %td= ticket.help_desk
        %td= link_to 'Show', ticket
        %td= link_to 'Edit', edit_ticket_path(ticket)
        %td= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ticket', new_help_desk_ticket_path(@help_desk)
