%p#notice= notice
.container.justify-content-center
  .card.w-75.mx-auto.p-3.text-left
    %p
      %b Ticket ID:
      = @ticket.id

    %h1
      = @ticket.title
    %p
      %b Created at:
      = @ticket.created_at
    %p
      %b Creator email:
      = @ticket.email
    %p
      %b Help desk:
      = @ticket.help_desk.name
    %p
      = @ticket.body

    = link_to 'Back to all tickets', help_desk_tickets_path(@ticket.help_desk)

.container.justify-content-center.mt-5
  %h1.w-75.mx-auto Comments
  %br

  -@ticket.comments.each do |comment|
    .card.w-75.mx-auto.p-3.text-left
      %p
        %strong #{comment.author}
        %br
        #{comment.created_at.strftime("%l:%M%P, %B %d %Y")}
      %p
        #{comment.body}
    %br
  .card.w-75.mx-auto.p-3.text-left.mb-3

    %h5 Add Comment
    %p="Posting as: #{current_user.email}"
    =form_for @comment, html: {class: 'form-group'} do |f|
      =f.text_area :body, class: 'form-control'
      =f.hidden_field :ticket_id
      =f.hidden_field :author, value: current_user.email
      %br
      =f.submit
