= form_for @help_desk do |f|
  - if @help_desk.errors.any?
    #error_explanation
      %h2= "#{pluralize(@help_desk.errors.count, "error")} prohibited this help_desk from being saved:"
      %ul
        - @help_desk.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_area :name
  .field= f.hidden_field(:organization_id, value: @help_desk.organization_id)
  .actions
    = f.submit 'Save'
