.container.d-flex.justify-content-center
  .w-50.text-left
    %a{ href: organizations_path}
      .btn.btn-secondary.mb-3 Back to all organizations
.container.d-flex.justify-content-center
  %h3.mb-4.text-info#page-heading Help desks for: #{@organization.name}
.container.d-flex.justify-content-center
  .card.w-50.p-3.text-left
    = link_to '+ New Help Desk', new_organization_help_desk_path(@organization), { class: 'p-3'}
    %table.table.text-left
      %thead
        %tr
          %th Name
          %th.text-center Edit
          %th.text-center Destroy

      %tbody
        - @help_desks.each do |help_desk|
          %tr
            %td= link_to help_desk.name, help_desk_tickets_path(help_desk.id), class: "text-secondary"
            %td.text-center= link_to fa_icon('edit'),
              edit_help_desk_path(help_desk.id),
              class: 'text-dark',
              data: { behavior: 'edit' }
            %td.text-center= link_to fa_icon('trash'),
              help_desk_path(help_desk.id),
              method: :delete,
              class: 'text-danger',
              data: { behavior: 'destroy',
                      confirm: 'Are you sure?' }
    %br
