%h1 Listing help_desks

%table
  %thead
    %tr
      %th Name
      %th Organization
      %th
      %th
      %th

  %tbody
    - @help_desks.each do |help_desk|
      %tr
        %td= help_desk.name
        %td= help_desk.organization
        %td= link_to 'Show', organization_help_desk_path(help_desk.organization_id, help_desk.id)
        %td= link_to 'Edit', edit_organization_help_desk_path(help_desk.organization_id, help_desk.id)
        %td= link_to 'Destroy', organization_help_desk_path(help_desk.organization_id, help_desk.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Help desk', new_organization_help_desk_path
