%h1 Help Desks for #{@organization.name}

%table
  %thead
    %tr
      %th Name
      %th Organization
      %th
      %th
      %th

  %tbody
    - @help_desks.each do |help_desk|
      %tr
        %td= help_desk.name
        %td= link_to 'Show', help_desk_path(help_desk.id)
        %td= link_to 'Edit', edit_help_desk_path(help_desk.id)
        %td= link_to 'Destroy', help_desk_path(help_desk.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Help Desk', new_organization_help_desk_path(@organization)
