.container.d-flex.justify-content-center
  %h3.mb-4.text-info#page-heading Your organizations
.container.d-flex.justify-content-center
  .card.w-50.p-3.text-left
    = link_to '+ New organization', new_organization_path, { class: 'p-3'}

    %table.table.text-left
      %thead
        %tr
          %th Name
          %th Role
          %th Tickets
          %th Edit
          %th Destroy

      %tbody
        - @organizations.each do |organization|
          %tr
            %td= link_to organization.name, organization, class: "text-secondary"
            %td.text-center= 'Edit'
            %td.text-center= 0
            %td.text-center= link_to fa_icon('edit'),
              edit_organization_path(organization),
              class: 'text-dark'
            %td.text-center= link_to fa_icon('trash'),
              organization,
              method: :delete,
              class: 'text-danger',
              data: { confirm: 'Are you sure?' }
    %br
