/# app/views/user_sessions/_form.html.erb
= form_with url: user_sessions_path, method: :post, class: 'form-group' do |f|
  .field
    = f.label :email
    %br/
    = f.text_field :email, {class: 'form-control'}
  .field
    = f.label :password
    %br/
    = f.password_field :password, {class: 'form-control'}
  .actions.mt-3.text-center
    = f.submit "Login", {class: 'text-info'}
