<!DOCTYPE html>
<html>
  <head>
    <title>HelpZone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <% flash.each do |type, msg| %>
      <% if type == "alert" %>
        <div class="alert alert-danger mb-0"><%= msg %></div>
      <% else %>
        <div class="alert alert-info mb-0"><%= msg %></div>
      <% end %>
    <% end %>
    <% if current_user %>
      <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand" href="/">HelpZone</a>
        <%= link_to "User settings", edit_user_path(current_user.id), class: "text-light" %>
        <%= link_to "Logout", :logout, method: :post, class: "text-light"  %>
      </nav>
    <% end %>
    <div class="mt-5">
      <%= yield %>
    </div>
  </body>
</html>
