<!DOCTYPE html>
<html>
  <head>
    <title>HelpZone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
    <% end %>
    <% flash.each do |type, msg| %>
      <% if type == "alert" %>
        <div class="alert alert-danger"><%= msg %></div>
      <% else %>
        <div class="alert alert-info"><%= msg %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
